.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    min-height: 100vh;
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}