.header {
    background-color: rgb(175, 175, 175);
}

.container {
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul {
    list-style: none;
    display: flex;
    gap: 22px;
    color: white;
}

.container ul li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.container ul li a:hover {
    color: gray;
}

.container img {
    width: 2.5rem;
    border-radius: 50%;
}

.BannerContainer {
    position: relative;
}

.BannerContainer img {
    width: 100%;
    max-height: 550px;
}

.BannerDescription {
    position: absolute;
    top: 38%;
    left: 5%;
}

.BannerDescription p:first-child {
    color: rgb(204, 201, 201);
    font-weight: bold;
    font-size: 4rem;
}

.BannerDescription p:last-child {
    color: rgb(187, 187, 187);
    /* font-weight: bold; */
    font-size: 3rem;
}

.BannerDescription span {
    color: cyan;
}

@media (max-width:350px) {
    .BannerDescription p{
        display: none;
    }
}