.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    min-height: 100vh;
}

form {
    background-color: white;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    padding: 2rem 3rem;
    width: 25rem;
    border-radius: 12px;
    border: 1px solid rgb(212, 212, 212);
}

h2 {
    margin: 1rem 0;
    color: rgb(102, 102, 250);
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    height: 3.1rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formField label {
    color: rgb(116, 116, 116);
    font-size: 1rem;
}

.formField:nth-child(6) label {
    color: rgb(116, 116, 245);
}

.formField .formInput {
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    outline: none;
    padding: 0.3rem;
    transition: all ease .3s;
}

.formField .invalid {
    border-radius: 5px;
    border: 1px solid rgb(244, 80, 80);
    outline: none;
    padding: 0.3rem;
    transition: all ease .3s;
}

.formField input:focus {
    border: 1px solid rgb(62, 56, 230);
    outline: none;
}

.formField span {
    /* height: 1px; */
    /* line-height: 10px; */
    width: fit-content;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: rgb(248, 212, 212);
    color: red;
    
}

.formField input[type="checkbox"] {
    height: 15px;
    width: 15px;
    appearance: none;
    border: 1px solid rgb(156, 156, 241);
    border-radius: 4px;
    transition: all ease .3s;
}

.formField input[type="checkbox"]:checked {
    background-color: rgb(95, 95, 235);
    border-radius: 50%;
}

.Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Buttons a {
    text-decoration: none;
    color: blue;
}

.Buttons a:hover {
    color: rgb(7, 7, 179);
}

.Buttons button {
    padding: 7px 14px;
    border-radius: 6px;
    border: 0;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.Buttons button:hover {
    background-color: rgb(10, 10, 217);
}

.Buttons button:focus {
    background-color: rgb(10, 10, 217);
    /* box-shadow: 2px 0 0 0 3px red; */
    box-shadow: 0px 0px 0px 3px rgb(118, 118, 239);
}
